<!--container start-->
<div class="gray-bg">
    <div class="fof">
        <!-- 404 error -->
        <div class="container  error-inner wow flipInX">
            <h1>404, Page not found.</h1>
            <p class="text-center">The Page you are looking for doesn't exist or another error occurred.</p>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/sTSA_sWGM44?autoplay=1" frameborder="0" allowfullscreen></iframe>
            <a class="btn btn-info" href="/">GO BACK TO THE HOMEPAGE</a>
        </div>
        <!-- /404 error -->
    </div>
</div>
<!--container end-->
