 <!-- Sequence Modern Slider -->

<div class="container">
    <div class="row mar-b-50">
        <div class="col-md-6">
            <div class="text-center feature-head wow fadeInDown">
                <h1 class="">
                    welcome to Out Of Range
                </h1>
                <div>
                    <h4>OutOfRange is a community of programmers willing to help eachother.</h4>

                    <div class="alert alert-info">
                        <h4>Why join them?</h4>

                        <div class="text-center">
                            <ul class="text-left centered-list fa">
                                <li>Ask questions about programming</li>
                                <li>Answer and help other coding enthusiasts</li>
                                <li>Share your knowledge and get recognised</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center feature-head wow fadeInDown">
                <img src="/Content/images/blog/img7.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mar-b-50">
        <div class="col-md-12">


            <div class="feature-box">
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <div class="feature-box-heading">
                        <em>
                            <img src="Content/images/1.png" alt="" width="100" height="100">

                        </em>
                        <h4>
                            <b><a href="/questions/add">Start Now</a></b>
                        </h4>
                    </div>
                    <p class="text-center">
                        /questions/add- Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <div class="feature-box-heading">
                        <em>
                            <img src="Content/images/2.png" alt="" width="100" height="100">
                        </em>
                        <h4>
                            <b><a href="/questions/">Search</a></b>
                        </h4>
                    </div>
                    <p class="text-center">
                        /ma gandesc eu la ceva/ - Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <div class="feature-box-heading">
                        <em>
                            <img src="Content/images/3.png" alt="" width="100" height="100">
                        </em>
                        <h4>
                            <b><a href="/questions">Explore</a></b>
                        </h4>
                    </div>
                    <p class="text-center">
                        /questions - Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
                    </p>
                </div>
            </div>

            <!--feature end-->
        </div>
    </div>
</div>


<!--property start-->
<div class="property gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 wow fadeInLeft">
                <h1>
                    Top 10
                </h1>
                <hr>
                <ol>
                    <li ng-repeat="ques in $ctrl.data | orderBy:'-Views' | limitTo:10 ">
                        <h4>
                            <a ng-link="['ViewQuestion', {id: ques.ID}]">{{ques.Title}}</a>
                        </h4>
                    </li>
                </ol>
                <a href="#" class="btn btn-primary">
                    View More
                </a>
            </div>
            <div class="col-lg-6 col-sm-6 wow fadeInRight">
                <h1>
                    Latest 10
                </h1>
                <hr>
                <ol>
                    <li ng-repeat="ques in $ctrl.data | orderBy:'-Added' | limitTo:10 ">
                        <h4>
                            <a ng-link="['ViewQuestion', {id: ques.ID}]">{{ques.Title}}</a>
                        </h4>
                    </li>
                </ol>
                <a href="#" class="btn btn-primary">
                    View More
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mar-b-50">
        <div class="col-md-12">
            <div class="text-center feature-head wow fadeInDown">
                <h2 class="">
                    Statistics
                </h2>

            </div>


            <div class="feature-box">
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <h3>Users</h3>
                    <h3>{{$ctrl.usersCount}}</h3>
                </div>
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <h3>Questions</h3>
                    <h3>{{$ctrl.questionsCount}}</h3>
                </div>
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <h3>Solved Questions</h3>
                    <h3>{{$ctrl.validedQuestionsCount()}}</h3>
                </div>

                <!--feature end-->
            </div>
        </div>
    </div>

    <!--container end-->
