 <!-- Sequence Modern Slider -->

<div class="container">
    <div class="row mar-b-50">
        <div class="col-md-6">
            <div class="text-center feature-head wow fadeInDown">
                <h1 class="">
                    welcome to Out Of Range
                </h1>
                <h5>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate sem nec lectus faucibus gravida. Sed non nulla fermentum, suscipit est mattis, hendrerit dolor. Nunc ultricies sapien non ipsum volutpat, nec lobortis dui bibendum. Fusce at nunc ac sapien molestie mattis. Aliquam congue porta leo ac ultrices. Curabitur ut euismod nibh. Etiam id tincidunt est, non fringilla felis. Morbi sed neque nec lorem euismod pretium. Integer imperdiet aliquam urna id placerat. Duis aliquet nec enim ut pellentesque. Praesent ut porttitor justo, nec maximus lectus. Vivamus lobortis hendrerit risus nec sagittis. Sed non odio dapibus, posuere ipsum ut, egestas nunc.
                </h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center feature-head wow fadeInDown">
                <img src="/Content/images/blog/img7.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mar-b-50">
        <div class="col-md-12">


            <div class="feature-box">
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <div class="feature-box-heading">
                        <em>
                            <img src="Content/images/1.png" alt="" width="100" height="100">

                        </em>
                        <h4>
                            <b><a href="/questions/add">Start Now</a></b>
                        </h4>
                    </div>
                    <p class="text-center">
                        /questions/add- Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <div class="feature-box-heading">
                        <em>
                            <img src="Content/images/2.png" alt="" width="100" height="100">
                        </em>
                        <h4>
                            <b><a href="/questions/">Search</a></b>
                        </h4>
                    </div>
                    <p class="text-center">
                        /ma gandesc eu la ceva/ - Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <div class="feature-box-heading">
                        <em>
                            <img src="Content/images/3.png" alt="" width="100" height="100">
                        </em>
                        <h4>
                            <b><a href="/questions">Explore</a></b>
                        </h4>
                    </div>
                    <p class="text-center">
                        /questions - Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
                    </p>
                </div>
            </div>

            <!--feature end-->
        </div>
    </div>
</div>


<!--property start-->
<div class="property gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 wow fadeInLeft">
                <h1>
                    Top 10
                </h1>
                <hr>
                <a href="#" class="btn btn-primary">
                    View More
                </a>
            </div>
            <div class="col-lg-6 col-sm-6 wow fadeInRight">
                <h1>
                    Latest 10
                </h1>
                <hr>
                <a href="#" class="btn btn-primary">
                    View More
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mar-b-50">
        <div class="col-md-12">
            <div class="text-center feature-head wow fadeInDown">
                <h2 class="">
                    Statistics
                </h2>

            </div>


            <div class="feature-box">
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <h3>Users</h3>
                </div>
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <h3>Questions</h3>
                </div>
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <h3>Solved Questions</h3>
                </div>

                <!--feature end-->
            </div>
        </div>
    </div>

    <!--container end-->
