<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <h1>
                    Questions
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--<input ng-model="q" id="search" class="form-control" placeholder="Filter text">-->
            <div dir-paginate="item in $ctrl.data | itemsPerPage: 10" class="col-md-6" data-wow-animation-name="fadeInLeft">
                <div class="blog-left wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <div class="blog-content" style="height:250px;">
                        <h3><a ng-link="['ViewQuestion', {id: item.ID}]">{{item.Title}}</a></h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blog-two-info">
                                    <p>
                                        <i class="fa fa-user"></i>
                                        by
                                        <a ng-link="['User', {userId: item.AspNetUser.Id}]">{{item.AspNetUser.Email}}</a>
                                        |
                                        <i class="fa fa-calendar"></i>
                                        {{item.Added | date}}
                                        |
                                        <i class="fa fa-comment"></i>
                                        <a ng-link="['ViewQuestionScrollTo', {id: item.ID, scrollTo: 'Answers'}]">{{item.AnswersNumber}}</a>
                                        |
                                        <i class="fa fa-bookmark"></i>
                                        <a ng-link="['Search', {action: 'category', keywords: item.Category.Name}]" href="#">{{item.Category.Name}}</a>
                                        <br>
                                        <i class="fa fa-tags"></i>
                                        Tags :
                                        <a ng-link="['Search', {action: 'tag', keywords: $ctrl.encodeTag(tag.Name)}]" ng-repeat="tag in item.Tags">
                                            <span class="label label-info">{{tag.Name}}</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p>
                            <span ng-bind="item.QuestionBody | plainText | limitTo:200"></span>&hellip;
                            <a ng-link="['ViewQuestion', {id: item.ID}]" class="text-success">Read more</a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="row text-center"></div>
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
</div>

<div ng-show="$ctrl.error" class="text-danger text-center">{{error}}</div>