<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <h1>Details</h1>
            </div>
        </div>
    </div>
</div>
<!--container start-->
<div class="container">
    <div class="row">
        <!--blog start-->
        <div class="col-lg-9 ">
            <div id="question" class="blog-item">
                <div class="row">
                    <div class="col-lg-offset-2 col-xs-10">
                        <h1>
                            <a href="#">{{$ctrl.question.Title}}</a>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-2 text-center score-controls pull-left">
                        <i class="fa fa-3x fa-chevron-up score-control up-vote" ng-click="$ctrl.plusQuestionVote()" ng-class="{ 'score-given': $ctrl.question.ScoreGiven == 1 }"></i>
                        <div class="fa-2x score-number">{{$ctrl.question.Score || 0}}</div>
                        <i class="fa fa-3x fa-chevron-down score-control down-vote" ng-click="$ctrl.minusQuestionVote()" ng-class="{ 'score-given': $ctrl.question.ScoreGiven == -1 }"></i>
                        <span class="label label-info bounty" title="Bounty" ng-if="$ctrl.question.Bounty > 0">+{{$ctrl.question.Bounty}} Credits</span>

                        <!--<div class="date-wrap">
                            <span class="date">{{$ctrl.question.Added | date:'dd'}}</span>
                            <span class="month">{{$ctrl.question.Added | date:'MMMM yyyy'}}</span>
                        </div>-->

                    </div>
                    <div class="col-lg-10 col-sm-10">
                        <p ng-if="!$ctrl.question.IsEdit" class="text-question" ng-bind-html="$ctrl.question.QuestionBody"></p>
                        <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.question.QuestionBody" ng-if="$ctrl.question.IsEdit" placeholder="Message" rows="8" class="form-control"></textarea>
                    </div>
                    <div class="clearfix"></div>
                    <div class="media comment">
                        <div ng-if="$ctrl.isAuth">
                            <span ng-if="(($ctrl.currentUser.id == $ctrl.question.UserID) || $ctrl.currentUser.roles.indexOf('Moderator') != -1) && !$ctrl.question.IsEdit">
                                <a ng-click="$ctrl.question.IsEdit=true" href="#">edit</a> |
                                <a ng-click="$ctrl.deleteQuestion()" href="#">delete</a>
                            </span>
                            <span ng-if="(($ctrl.currentUser.id == $ctrl.question.UserID) || $ctrl.currentUser.roles.indexOf('Moderator') != -1) && $ctrl.question.IsEdit">
                                <a ng-click="$ctrl.question.IsEdit=false; $ctrl.updateQuestion($ctrl.question)" href="#">save changes</a> |
                                <a ng-click="$ctrl.question.IsEdit=false; $ctrl.resetQuestion()" href="#">cancel</a>
                            </span>
                        </div>
                        <hr />
                        <div class="media-body row" ng-repeat="com in $ctrl.question.Comments | orderBy:'Added'">
                            <div class="score-controls col-lg-1 col-sm-1 text-center pull-left">
                                <div class="score-number">{{com.Score || 0}}</div>
                                <span>
                                    <i class="fa fa-plus score-control up-vote" ng-click="$ctrl.plusCommentVote(com)" ng-class="{ 'score-given': com.ScoreGiven == 1 }"></i>
                                    <i class="fa fa-minus score-control down-vote" ng-click="$ctrl.minusCommentVote(com)" ng-class="{ 'score-given': com.ScoreGiven == -1 }"></i>
                                </span>
                            </div>

                            <div class="comment-body col-lg-11 col-sm-11">
                                <p>
                                    <span ng-bind="com.CommentBody | plainText" style="padding-left:5px;"></span> - <a ng-link="['User', {userId: com.AspNetUser.Id}]">{{com.AspNetUser.UserName}}</a>
                                    <span ng-if="(($ctrl.currentUser.id == com.UserID) || $ctrl.currentUser.roles.indexOf('Moderator') != -1)"
                                          id="question-close-tooltip-{{$index}}" class="pull-right close-btn text-muted"
                                          data-toggle="tooltip" title="Delete" data-placement="left" data-trigger="hover"
                                          ng-init="$ctrl.initTooltip('question-close-tooltip-' + $index)"
                                          ng-click="$ctrl.deleteComment(com)">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <a ng-if="$ctrl.isAuth && $ctrl.question.$commentBody == undefined" ng-click="$ctrl.question.$commentBody=''" href="#">add comment</a>
                        <div ng-if="$ctrl.question.$commentBody != undefined">

                            <div class="form-group">
                                <textarea class="form-control" ng-model="$ctrl.question.$commentBody"></textarea>
                            </div>
                            <div class="btn-group">
                                <input type="button" class="btn btn-primary" value="Post" ng-click="$ctrl.addComment($ctrl.question)" />
                                <input type="button" class="btn btn-default" value="Cancel" ng-click="$ctrl.question.$commentBody = undefined" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media">
                <h3 id="Answers">
                    <span ng-hide="$ctrl.question.Answers.length">No answers yet</span>
                    <span ng-show="$ctrl.question.Answers.length">{{$ctrl.question.Answers.length + ($ctrl.question.Answers.length != 1 ? ' Answers' : ' Answer')}}</span>
                </h3>
                <hr style="border-top: 1px solid #8E8E8E" />
            </div>
            <div id="Answer-{{ans.ID}}" class="media answer" ng-repeat="ans in $ctrl.question.Answers | orderBy:$ctrl.orderAnswers">
                <div class="row">
                    <div class="score-controls col-lg-2 col-sm-2 text-center pull-left">
                        <i class="fa fa-3x fa-chevron-up score-control up-vote" ng-click="$ctrl.plusAnswerVote(ans)" ng-class="{ 'score-given': ans.ScoreGiven == 1 }"></i>
                        <div class="fa-2x score-number">{{ans.Score || 0}}</div>
                        <i class="fa fa-3x fa-chevron-down score-control down-vote" ng-click="$ctrl.minusAnswerVote(ans)" ng-class="{ 'score-given': ans.ScoreGiven == -1 }"></i>
                        <div ng-click="$ctrl.acceptAnswer(ans)" class="fa fa-3x fa-check accept-control" ng-class="{ 'state-unchecked': !ans.Accepted, 'state-checked': ans.Accepted }"></div>
                    </div>

                    <div class="media-body col-lg-10 col-sm-10">
                        <h4 class="media-heading"></h4>
                        <p ng-if="!ans.IsEdit" class="text-answer" ng-bind-html="ans.AnswerBody"></p>
                        <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="ans.AnswerBody" ng-if="ans.IsEdit" placeholder="Message" rows="8" class="form-control"></textarea>

                        <div class="pull-right"><a ng-link="['User', {userId: ans.AspNetUser.Id}]">{{ans.AspNetUser.UserName}}</a> | <span>{{ans.Added | date}}</span></div>
                        <small ng-hide="$ctrl.isAuth"><a href="#" ng-click="$ctrl.navigateWithReturn(['Login'], 'Answer-'+ans.ID)">Login</a> or <a href="#" ng-click="$ctrl.navigateWithReturn(['Register'], 'Answer-'+ans.ID)">Register</a> to add comment</small>
                        <div ng-if="$ctrl.isAuth">
                            <span ng-if="(($ctrl.currentUser.id == ans.UserID) || $ctrl.currentUser.roles.indexOf('Moderator') != -1) && !ans.IsEdit">
                                <a ng-click="ans.IsEdit=true" href="#">edit</a> |
                                <a ng-click="$ctrl.deleteAnswer(ans)" href="#">delete</a>
                            </span>
                            <span ng-if="(($ctrl.currentUser.id == ans.UserID) || $ctrl.currentUser.roles.indexOf('Moderator') != -1) && ans.IsEdit">
                                <a ng-click="ans.IsEdit=false; $ctrl.updateAnswer(ans)" href="#">save changes</a> |
                                <a ng-click="ans.IsEdit=false; $ctrl.resetQuestion()" href="#">cancel</a>
                            </span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="media comment">
                            <hr />
                            <div class="media-body row" ng-repeat="com in ans.Comments | orderBy:'Added'">
                                <div class="score-controls col-lg-1 col-sm-1 text-center pull-left">
                                    <div class="score-number">{{com.Score || 0}}</div>
                                    <span>
                                        <i class="fa fa-plus score-control up-vote" ng-click="$ctrl.plusCommentVote(com)" ng-class="{ 'score-given': com.ScoreGiven == 1 }"></i>
                                        <i class="fa fa-minus score-control down-vote" ng-click="$ctrl.minusCommentVote(com)" ng-class="{ 'score-given': com.ScoreGiven == -1 }"></i>
                                    </span>
                                </div>

                                <div class="comment-body col-lg-11 col-sm-11">
                                    <p>
                                        <span ng-bind="com.CommentBody | plainText" style="padding-left:5px;"></span> - <a ng-link="['User', {userId: com.AspNetUser.Id}]">{{com.AspNetUser.UserName}}</a>
                                        <span ng-if="(($ctrl.currentUser.id == com.UserID) || $ctrl.currentUser.roles.indexOf('Moderator') != -1)"
                                              id="ans-{{ans.ID}}-close-tooltip-{{$index}}" class="pull-right close-btn text-muted"
                                              data-toggle="tooltip" title="Delete" data-placement="left" data-trigger="hover"
                                              ng-init="$ctrl.initTooltip('ans-' + ans.ID + '-close-tooltip-' + $index)"
                                              ng-click="$ctrl.deleteComment(com)">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div ng-if="$ctrl.isAuth">
                                <a ng-if="ans.commentBody == undefined" ng-click="ans.$commentBody=''" href="#">add comment</a>
                            </div>
                            <div ng-if="ans.$commentBody != undefined">

                                <div class="form-group">
                                    <textarea class="form-control" ng-model="ans.$commentBody"></textarea>
                                </div>
                                <div class="btn-group">
                                    <input type="button" class="btn btn-primary" value="Post" ng-click="$ctrl.addComment(ans)" />
                                    <input type="button" class="btn btn-default" value="Cancel" ng-click="ans.$commentBody = undefined" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 1px solid #8E8E8E" />
            </div>
            <div class="post-comment">
                <h3 class="skills">Post Answer</h3>
                <p ng-hide="$ctrl.isAuth"><a href="#" ng-click="$ctrl.navigateWithReturn(['Login'])">Login</a> or <a href="#" ng-click="$ctrl.navigateWithReturn(['Register'])">Register</a> to add answer</p>
                <form class="form-horizontal" role="form" ng-show="$ctrl.isAuth">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.answer.AnswerBody" placeholder="Message" rows="8" class="form-control"></textarea>
                        </div>
                    </div>
                    <p>
                        <button ng-click="$ctrl.addAnswer()" type="submit" class="btn btn-info pull-right">Post Answer</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="blog-side-item">
                <div class="category">
                    <h3>Category</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-angle-right pr-10"></i>
                                {{$ctrl.question.Category.Name}}
                            </a>
                        </li>
                </div>

                <div class="tags">
                    <h3>Tags</h3>
                    <ul class="tag">
                        <li ng-repeat="tag in $ctrl.question.Tags">
                            <a href="#">
                                <i class="fa fa-tags pr-5"></i>
                                {{tag.Name}}
                            </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3>Info:</h3>
                    <ul class="list-unstyled">
                        <li>
                            <em>
                                <b>Last Modified:</b> {{$ctrl.question.Modified | date}}
                            </em>
                        </li>
                        <li>
                            <em>
                                <b>By:</b> <a ng-link="['User', {userId: $ctrl.question.AspNetUser.Id}]" style="display:inline">{{$ctrl.question.AspNetUser.UserName}}</a>
                            </em>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <!--blog end-->
    </div>

</div>
<!--container end-->
