<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <h1>
                    Add Questions
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form name="$ctrl.qForm" class="wow fadeInUp">
        <div class="form-group" show-errors>
            <input ng-model="$ctrl.question.Title" type="text" name="title" class="form-control" placeholder="Question Title" autofocus required>
            <div ng-messages="$ctrl.qForm.title.$error" role="alert">
                <div class="help-block error-text" ng-message="required">The title cannot be empty.</div>
            </div>
        </div>
        <div class="form-group" show-errors>
            <select name="qCategory" class="form-control category-select" ng-model="$ctrl.question.CategoryID" required>
                <option value="">Select Category</option>
                <option ng-repeat="category in $ctrl.categories" value="{{category.ID}}">{{category.Name}}</option>
            </select>
            <div ng-messages="$ctrl.qForm.qCategory.$error" role="alert">
                <div class="help-block error-text" ng-message="required">Please select a category.</div>
            </div>
        </div>
        <div class="form-group" show-errors>
            <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.question.QuestionBody" ng-change="$ctrl.descriptionValidation($ctrl.question.QuestionBody, $ctrl.qForm.description, descMinLength)" name="description" class="form-control" rows="5" placeholder="Question Body" ng-init="descMinLength = 5"></textarea>
            <div ng-messages="$ctrl.qForm.description.$error" role="alert">
                <div class="help-block error-text" ng-message="required">The question needs to have a body.</div>
                <div class="help-block error-text" ng-message="minlength">The minimum length for this field is {{descMinLength}}.</div>
            </div>
        </div>
        <div class="form-group" show-errors>
            <div class="input-group">
                <span class="input-group-addon">PTS</span>
                <input type="number" ng-model="$ctrl.question.Bounty" ng-change="$ctrl.bountyValidation($ctrl.question.Bounty, $ctrl.qForm.bounty)" name="bounty" class="form-control" placeholder="Add a bounty to this question" />
            </div>
            <div ng-messages="$ctrl.qForm.bounty.$error" role="alert">
                <div class="help-block error-text" ng-message="number">This is not a number.</div>
                <div class="help-block error-text" ng-message="maxvalue">You do not have sufficient credits to apply the bounty.</div>
            </div>
            <div ng-if="$ctrl.question.Bounty && !$ctrl.qForm.bounty.$error">
                You will remain with <b>PTS {{$ctrl.userInfo.Credits - $ctrl.question.Bounty}}</b> if you apply this bounty to the question.
            </div>
        </div>
        <div class="form-group" show-errors>
            <input ng-model="$ctrl.question.TagString" type="text" name="tags" class="form-control" placeholder="Tags" required>
            <div ng-messages="$ctrl.qForm.tags.$error" role="alert">
                <div class="help-block error-text" ng-message="required">Please write some tags for this question. It will be found in searches and answered faster this way.</div>
            </div>
        </div>
        <button ng-click="$ctrl.addQuestion($ctrl.qForm.$valid)" class="btn btn-lg btn-success" type="button">Add Question</button>
    </form>
</div>