<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <h1>Details</h1>
            </div>
        </div>
    </div>
</div>
<!--container start-->
<div class="container">
    <div class="row">
        <!--blog start-->
        <div class="col-lg-9 ">
            <div id="Question" class="blog-item">
                <div class="row">
                    <div class="col-lg-2 col-sm-2">
                        <div class="date-wrap">
                            <span class="date">{{$ctrl.question.Added | date:'dd'}}</span>
                            <span class="month">{{$ctrl.question.Added | date:'MMMM yyyy'}}</span>
                        </div>

                    </div>
                    <div class="col-lg-10 col-sm-10">
                        <h1>
                            <a href="#">{{$ctrl.question.Title}}</a>
                        </h1>
                        <div class="author">
                            By
                            <a href="#">{{$ctrl.question.AspNetUser.UserName}}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-2 text-right">
                        <ul class="list-unstyled">
                            <li>
                                <a href="javascript:;">
                                    <em>
                                        <b>Last Modified:</b><br /> {{$ctrl.question.Modified | date}}
                                    </em>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <em>
                                        <b>Oher Data:</b><br /> *****
                                    </em>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <em>
                                        <b>More Info:</b><br /> *****
                                    </em>
                                </a>
                            </li>
                        </ul>
                        <div class="st-view">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="javascript:;">{{$ctrl.question.Answers.length}} answers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-10 col-sm-10">
                        <p ng-bind-html="$ctrl.question.QuestionBody"></p>
                    </div>
                </div>
            </div>
            <div class="media">
                <h3 id="Answers">
                    <span ng-hide="$ctrl.question.Answers.length">No answers yet</span>
                    <span ng-show="$ctrl.question.Answers.length">{{$ctrl.question.Answers.length + ($ctrl.question.Answers.length != 1 ? ' Answers' : ' Answer')}}</span>
                </h3>
                <hr>
            </div>
            <div id="Answer-{{ans.ID}}" class="media" ng-repeat="ans in $ctrl.question.Answers">
                <div class="media-body">
                    <h4 class="media-heading">
                        {{ans.AspNetUser.UserName}} | <span>{{ans.Added | date}}</span>
                    </h4>
                    <p ng-bind-html="ans.AnswerBody"></p>
                    <a ng-show="$ctrl.isAuth" data-toggle="modal" data-target="#myModal" ng-click="$ctrl.prepareComment(ans.ID)" href="#">Reply</a>
                    <small ng-hide="$ctrl.isAuth"><a href="#" ng-click="$ctrl.navigateWithReturn(['Login'], 'Answer-'+ans.ID)">Login</a> or <a href="#" ng-click="$ctrl.navigateWithReturn(['Register'], 'Answer-'+ans.ID)">Register</a> to add comment</small>
                    <div class="media" style="margin-left:50px;">
                        <hr />
                        <div class="media-body" ng-repeat="com in ans.Comments">
                            <h4 class="media-heading">
                            </h4>
                            <p>
                                <b>{{com.AspNetUser.UserName}}:</b> {{com.CommentBody}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-comment">
                <h3 class="skills">Post Answer</h3>
                <p ng-hide="$ctrl.isAuth"><a href="#" ng-click="$ctrl.navigateWithReturn(['Login'])">Login</a> or <a href="#" ng-click="$ctrl.navigateWithReturn(['Register'])">Register</a> to add answer</p>
                <form class="form-horizontal" role="form" ng-show="$ctrl.isAuth">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <textarea ng-model="$ctrl.answer.AnswerBody" placeholder="Message" rows="8" class="form-control"></textarea>
                        </div>
                    </div>
                    <p>
                        <button ng-click="$ctrl.addAnswer()" type="submit" class="btn btn-info pull-right">Post Answer</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="blog-side-item">
                <div class="category">
                    <h3>Category</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-angle-right pr-10"></i>
                                {{$ctrl.question.Category.Name}}
                            </a>
                        </li>
                </div>

                <div class="tags">
                    <h3>Tags</h3>
                    <ul class="tag">
                        <li ng-repeat="tag in $ctrl.question.Tags">
                            <a href="#">
                                <i class="fa fa-tags pr-5"></i>
                                {{tag.Name}}
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="search-row">
                    <input type="text" class="form-control" placeholder="Search here" />
                </div>
            </div>
        </div>

        <!--blog end-->
    </div>

    <!-- replay modal-->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add reply</h4>
                </div>
                <div class="modal-body">
                    <textarea ng-model="$ctrl.comment.commentBody" placeholder="Message" rows="8" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-click="$ctrl.addComment()" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
                </div>
            </div>

        </div>
    </div>

</div>
<!--container end-->