body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.form-control {
    color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.centered-list.fa {
    display: inline-block;
    list-style: none;
    line-height: 1.5;
}

    .centered-list.fa li:before {
        content: "\f105";
        font-size: 1.2em;
        font-weight: bold;
        margin-right: 10px;
        -moz-transition: margin .3s ease-out;
        -o-transition: margin .3s ease-out;
        -webkit-transition: margin .3s ease-out;
        transition: margin .3s ease-out;
    }

    .centered-list.fa li:hover:before {
        margin-left: 5px;
        margin-right: 5px;
    }

/* Question Add */
.category-select:invalid {
    color: #a1a1a1;
}

.category-select option[value=""] {
    color: #a1a1a1;
}

.category-select option {
    color: black;
}

/* Question All*/


/* Question View */
#question .score-controls {
    margin-top: 20px;
}

.answer .score-controls {
    margin-top: -5px;
}

.comment .score-controls {
    padding-right: 0;
}

.comment-body {
    padding-left: 0;
    padding-top: 8px;
}

.score-controls .score-control {
    display: inline-block;
    color: rgba(0, 0, 0, 0.4);
    -moz-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
}

    .score-controls .score-control.up-vote:hover {
        color: rgba(0, 200, 0, 0.7);
    }

    .score-controls .score-control.down-vote:hover {
        color: rgba(200, 0, 0, 0.7);
    }

.score-controls .score-number {
    line-height: 0.5;
}

.score-controls .accept-control {
    display: block;

    transition: color .3s ease-out, -webkit-text-stroke-color .3s ease-out;
}

    .score-controls .accept-control.state-unchecked {
        color: transparent;
        -webkit-text-stroke: rgba(0, 0, 0, 0.5) 3px;
    }

    .score-controls .accept-control.state-unchecked:hover {
        color:  rgba(240, 250, 0, 0.60);
        -webkit-text-stroke: rgba(0, 0, 0, 0.7) 3px;
    }

    .score-controls .accept-control.state-checked {
        color: lawngreen;
        -webkit-text-stroke: black 3px;
    }

    .score-controls .accept-control.state-checked:hover {
        color: rgba(240, 250, 0, 0.60);
        -webkit-text-stroke: rgba(0, 0, 0, 0.3) 3px;
    }
