    <!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <h1>Sign In</h1>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->
 <!--container start-->
<div class="login-bg">
    <div class="container">
        <div class="form-wrapper">
            <form name="loginForm" class="form-signin wow fadeInUp">
                <h2 class="form-signin-heading">sign in now</h2>
                <div class="login-wrap">
                    <div class="form-group" ng-class="{'has-error': loginForm.email.$error.required && loginForm.email.$dirty, 'has-warning': loginForm.email.$error.email} ">
                        <input ng-model="$ctrl.user.username" type="email" name="email" class="form-control" placeholder="Email" autofocus required>
                    </div>
                    <div class="form-group" ng-class="{'has-error': loginForm.password.$error.required && loginForm.password.$dirty, 'has-warning': loginForm.password.$error.minlength} ">
                        <input ng-model="$ctrl.user.password" type="password" name="password" class="form-control" placeholder="Password" ng-minlength="6" required>
                    </div>
                    <label class="checkbox">
                        <input ng-model="$ctrl.rememberMe" type="checkbox" value="remember-me"> Remember me
                        <span class="pull-right">
                            <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                        </span>
                    </label>
                    <button class="btn btn-lg btn-login btn-block" type="button" ng-hide="$ctrl.loading" ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid" ng-click="$ctrl.login()">Sign in</button>
                    <div style="text-align:center;width:100%;" ng-show="$ctrl.loading">
                        <h3><i class="fa fa-spin fa-spinner"></i> Loading...</h3>
                    </div>
                    <div ng-show="$ctrl.error" class="text-danger"><i class="fa fa-chevron-right"></i> {{$ctrl.error}}</div>
                    <div class="registration">
                        Don't have an account yet?
                        <a ng-link="['Register']">
                            Create an account
                        </a>
                    </div>

                </div>

                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="myModal" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Forgot Password ?</h4>
                            </div>
                            <div class="modal-body">
                                <p>Enter your e-mail address below to reset your password.</p>
                                <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                <button class="btn btn-success" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal -->

            </form>
        </div>
    </div>
</div>
<!--container end-->