    <!--container start-->
<div class="registration-bg">
    <div class="container">

        <form class="form-signin wow fadeInUp" action="">
            <h2 class="form-signin-heading">Register now</h2>
            <div class="login-wrap">
                <p> Enter account details below {{user.Email}}</p>
                <input ng-model="user.Email" type="text" class="form-control" placeholder="Email" autofocus="">
                <input ng-model="user.Password" type="password" class="form-control" placeholder="Password">
                <input ng-model="user.ConfirmPassword" type="password" class="form-control" placeholder="Re-type Password">
                <label class="checkbox">
                    <input type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy
                </label>
                <button class="btn btn-lg btn-login btn-block" type="submit" ng-click="register()">Submit</button>

                <div class="registration">
                    Already Registered ?
                    <a class="" href="/login">
                        Login
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>
<!--container end-->
