    <!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <h1>Profile</h1>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div style="min-height:200px;min-width:200px;">
                <img id="profilepicture" src="/Content/images/borders/slav.jpg" style="width:200px;height:200px;position:absolute;left:0px;top:0px;z-index:-1;" />
                <img id="border" src="/Content/images/borders/hue.gif" style="width:200px;height:200px;position:absolute;left:0px;top:0px;z-index:-1;" />
            </div>
            <div class="btn-group-vertical" style="margin-top:30px;padding-left:15px;">
                <button class="btn btn-default" type="button">Change Picture</button>
                <button class="btn btn-default" type="button">Change Password</button>
                <button class="btn btn-default" type="button">Other Function</button>
            </div>
        </div>
        <div class="col-lg-6 col-lg-offset-1">
            <div>
                <h2>Account info:</h2>
                <p><b>Email:</b> radu.niculcea@gmail.com</p>
                <p><b>Member from</b> [date] </p>
                <h2>Gamification info:</h2>
                <!--<div class="skill_bar">
                    <div class="skill_bar_progress skill_one" style="width: 59.98%; overflow: hidden;">
                        <p>
                            Level: [Int] - 60%
                        </p>
                    </div>
                </div>-->
                <p><b>Border:</b>[name]</p>
                <p><b>Questions Posted:</b>[int]</p>
                <p><b>Comments Posted:</b>[int]</p>
            </div>
        </div>
        <div class="col-lg-3 clearfix">
            <div class="clearfix">
                    <h2>Progress:</h2>
                <div class="c100 p45 big">
                    <span>45%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
