    <!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <h1>Profile</h1>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div style="min-height:200px;min-width:200px;">
                <img id="profilepicture" src="/Content/images/borders/slav.jpg" style="width:200px;height:200px;position:absolute;left:0px;top:0px;z-index:-1;" />
                <img id="border" src="/Content/images/borders/hue.gif" style="width:200px;height:200px;position:absolute;left:0px;top:0px;z-index:-1;" />
            </div>
            <div style="text-align:center;">
                <h2>Credits: {{$ctrl.userProfile.Credits}}</h2>
            </div>
            <div class="btn-group-vertical" style="margin-top:30px;padding-left:15px;">
                <button class="btn btn-default" type="button">Change Picture</button>
                <button class="btn btn-default" type="button">Change Password</button>
                <button class="btn btn-default" type="button">Other Function</button>
            </div>
        </div>
        <div class="col-lg-9 col-lg-offset-1">
            <div>
                <h2>Account info:</h2>
                <p><b>Email:</b> {{$ctrl.userProfile.UserName}}</p>
                <h2>Gamification info:</h2>
                <!--<div class="skill_bar">
                    <div class="skill_bar_progress skill_one" style="width: 59.98%; overflow: hidden;">
                        <p>
                            Level: [Int] - 60%
                        </p>
                    </div>
                </div>-->
                <p><b>Questions Posted:</b> {{$ctrl.userProfile.QuestionNumber}}</p>
                <p><b>Questions Viewed</b> {{$ctrl.userProfile.QuestionViews}}</p>
                <p><b>Question Score:</b> {{$ctrl.userProfile.QuestionScore}}</p>
                <p><b>Answer Score:</b> {{$ctrl.userProfile.AnswerScore}}</p>
                <p><b>Comments Score:</b> {{$ctrl.userProfile.CommentScore}}</p>
            </div>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="cat in $ctrl.userProfile.UserLevels">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse{{cat.$id}}">
                            <a>
                                {{cat.Category.Name}} <span class="pull-right"> XP:{{cat.XP}} | Level: {{cat.Level}} </span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{cat.$id}}" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <div style="display: inline-block;">
                                <img id="badge-{{cat.$id}}-{{badge.$id}}" ng-repeat="badge in cat.Badges" ng-src="/content/images/badges/{{badge.Badge.ImageLoc}}" width="50" height="50" ng-init="$ctrl.initPopover(cat, badge)" title="{{badge.Badge.Name}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
</div>
