<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <h1>
                    Admin
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="bs-example mar-b-30">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Header
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Value
                    </td>
                </tr>
                <tr> 
            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
</div>